[submodule "accounts"]
	path = accounts
	url = git@github.com:joselopez-88/accounts.git
[submodule "loans"]
	path = loans
	url = git@github.com:joselopez-88/loans.git
[submodule "cards"]
	path = cards
	url = git@github.com:joselopez-88/cards.git
[submodule "configserver"]
	path = configserver
	url = git@github.com:joselopez-88/configserver.git
[submodule "eazybytes-config"]
	path = eazybytes-config
	url = git@github.com:joselopez-88/eazybytes-config.git
[submodule "docker-compose"]
	path = docker-compose
	url = git@github.com:joselopez-88/docker-compose.git
[submodule "eurekaserver"]
	path = eurekaserver
	url = git@github.com:joselopez-88/eurekaserver.git
[submodule "gatewayserver"]
	path = gatewayserver
	url = git@github.com:joselopez-88/gatewayserver.git
