[submodule "accounts"]
	path = accounts
	url = git@github.com:joselopez-88/accounts.git
[submodule "loans"]
	path = loans
	url = git@github.com:joselopez-88/loans.git
[submodule "cards"]
	path = cards
	url = git@github.com:joselopez-88/cards.git
